{:deps true
 :nrepl {:port 8703}
 :dev-http {8702 "out"}
 :builds {:browser {:target :browser
                    :js-options {:babel-preset-config {:targets {:chrome 80}}}
                    :output-dir "out/js"
                    :asset-path "/js"
                    :compiler-options {:warnings {:infer false}}
                    :modules {:base {:init-fn iglu.dev/init}}}}}
